extends layout

block partial 

    body
        .jumbotron(style="min-height: 100vh")
            h1(style="color:blue") Vista de Productos
            .card.custom.mt-4(style="background: rgb(255 241 175 / 93%);padding: 20px;color: #825504")
                h2=mensajeError